#containerDiv {
    border: 1px solid black;
    height: 992px;
    width: 992px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#settingsBar {
    border: 1px solid black;
    height: 50px;
    width: 992px;

}

/*.gridDiv:hover {
    background-color: yellow;
}
*/